<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar navbar-light bg-light" href="/admin/addProduct">Thêm sản phẩm </a>
  <a class="navbar navbar-light bg-light" href="/admin/addCategory">Thêm loại sản phẩm </a>
  <a class="navbar navbar-light bg-light" href="/admin/users">Thông tin người dùng</a>
  <a class="navbar navbar-light bg-light" href="/admin/transaction">Đơn hàng</a>
</nav>

<div class="mt-4" style="padding: 40px;">
    <h3>Cập nhật sản phẩm</h3>

    <form method="post" action="/admin/{{product._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" value="{{product.name}}" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description" required>{{product.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" value="{{product.image}}" id="image" name="image" required>
        </div>
        <div class="form-group">
            <label for="price"> Giá</label>
            <input type="text" class="form-control" value="{{product.price}}" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="category">Loại giày</label>
            <input type="text" class="form-control" value="{{product.category}}" id="category" name="category" required>
        </div>

        <div class="form-group">
            <label>Số lượng</label>
            <div id="size-inputs">
                {{#each product.sizes}}
                    <div class="form-row align-items-center mb-3">
                        <label class="col-sm-2 col-form-label">Size {{this.size}}</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control" name="sizes[{{@index}}][quantity]" placeholder="Số lượng" min="0" value="{{this.quantity}}" required>
                            <input type="hidden" name="sizes[{{@index}}][size]" value="{{this.size}}">
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        
        <button type="submit" class="btn btn-primary">Lưu lại sản phẩm</button>
    </form>
</div>



